* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #e6e6e694;
    color: #000000d8;    
}

.Navbar {
    color: #ffde25;
    padding: 10px;
    background: #f04d24;
    font-size: 30px;
}

.Button:hover {
    background-color: #88ce77;
}